.page-wrap{
  overflow: hidden;
  .page-left{
    float: left;
    padding: 6px;
    margin: 20px 0;
  }
  .page-right{
    float: right;
    .page-tip{
      float: right;
      padding: 6px 12px;
      margin: 20px 0px;
    }
  }
}

