<div class="shop-active">
  <header class="detail-btn">
    <button class="btn btn-default" (click)="cancel()">取消</button>
  </header>
  <div class="table-list">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>统计日期</th>
        <th>商家名称</th>
        <th>门店名称</th>
        <th>交易金额</th>
        <th>预约数</th>
        <th>会员数</th>
        <th>员工数</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <div>暂无数据</div>
  </div>
</div>

